@use '../abstract' as *;

.footer {
    background-color: $color-neutral-dark-blue;
    justify-content: flex-start !important;
    gap: 1.25rem;
    
    // footer styles for smaller screen
    @include breakpoint-down(large) {
        padding-block: 2.5rem !important;
        flex-direction: column;    
    }

    .main-logo {
        @include breakpoint-down(large) {
            padding-bottom: 1.375rem;  
        }
        
        // Change 'bookmark' color in main logo
        &__text {
            fill: $color-neutral-white;
        }
    }

    .nav {
        width: 100%;

        &__list {
            @include breakpoint-down(large) {
                flex-direction: column;    
            }

            .nav__item {
                @include breakpoint-down(large) {
                    padding-block: 1.125rem;
                }

                &.social-media {
                    margin-left: auto;
    
                    @include breakpoint-down(large) {
                        margin-left: 0;
                        padding-top: 1.875rem;
                    }
                }
            }
        }
    }
}

.attribution {
    padding-block: 1rem;
    background-color: $color-neutral-dark-blue;
    color: $color-neutral-white;

    p {
        margin-bottom: 0;
    }

    a {
        color: $color-neutral-white;
        text-decoration: underline;
    }
}