@use '../abstract' as *;

.header {
    width: 100%;
    padding-block: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0 0 auto;
    z-index: 9999;
    background-color: $color-neutral-white;
    transition: background-color .5s ease-in;

    .main-logo {
        position: relative;

        &-white {
            position: absolute;
            inset: 0;
            opacity: 0;
        }
    }

    .toggle {
        // Hide the toggle in large screen
        display: none;

        // Show the toggle in smaller screen
        @include breakpoint-down(large) {
            margin-left: auto;
            display: block;
            position: relative;
        }

        &__close {
            position: absolute;
            inset: 0;
            opacity: 0;
            pointer-events: none;
        }
    }

    .nav {
        &__list {
            display: flex;
            align-items: center;
            gap: 2.75rem;

            // nav__list style for smaller screen (mobile)
            @include breakpoint-down(large) {
                height: 100vh;
                flex-direction: column;
                gap: 0;
                position: absolute;
                inset: 6.5625rem 0 auto;
                background-color: $color-neutral-dark-blue-95;
                opacity: 0;
                pointer-events: none;
                transition: opacity .5s ease-in;
            }

            .nav__item {

                @include breakpoint-down(large) {
                    width: calc(100% - (2*9.5%));
                    padding-block: 1.5rem;
                    text-align: center;
                    border-top: 1px solid $color-neutral-white-20;
                }
            }

            .nav__social-media {
                display: none;

                @include breakpoint-down(large) {
                    display: flex;
                    gap: 2.5rem;
                    margin-top: auto;
                    padding-bottom: 3rem;
                }
            }
        }
    }
}