@use '../abstract' as *;

.header {
    width: 100%;
    position: fixed;
    inset: 0 0 auto;
    z-index: 9999;
    background-color: $color-neutral-white;
    transform: translateY(0);
    transition: background-color .2s ease-in, transform .5s ease, opacity .5s ease-in;

    &.hide {
        transform: translateY(-100%);
        opacity: 0;
    }

    .main-logo {
        
        // Change the color of main logo when open the navigation
        .bookmark-logo {
            &.show {
                fill: $color-neutral-white;
            }
            &-small {
                &.show {
                    fill: $color-neutral-dark-blue-95;
                }
            }
        }
        
    }

    .toggle {
        // Hide the toggle in large screen
        display: none;

        // Show the toggle in smaller screen
        @include breakpoint-down(large) {
            margin-left: auto;
            display: block;
            position: relative;
        }

        &__close {
            position: absolute;
            inset: 0;
            opacity: 0;
            pointer-events: none;
        }
    }

    .nav {
        &__list {
            // nav__list styles for smaller screen (mobile)
            @include breakpoint-down(large) {
                height: calc(100vh - 6.5625rem);
                flex-direction: column;
                position: absolute;
                inset: 6.5625rem 0 auto;
                background-color: $color-neutral-dark-blue-95;
                transform: translateY(-35%);
                opacity: 0;
                pointer-events: none;
                transition: opacity .2s ease-in-out, transform .4s ease-in-out;
            }

            &.show {
                transform: translateY(0);
            }

            .nav__item {
                
                // nav__item styles for smaller screen
                @include breakpoint-down(large) {
                    width: calc(100% - (2*9.5%));
                    padding-block: 1.5rem;
                    text-align: center;
                    border-top: 1px solid $color-neutral-white-20;
                }
                
                &.btn-login {
                    padding-right: 0;
                }

                &.social-media {
                    display: none;

                    // show social media icon on smaller screen
                    @include breakpoint-down(large) {
                        margin-top: auto;
                        padding-bottom: 3rem;
                        display: block;
                        border-top: none;
                    }
                }
            }
        }
    }
}