@use '../abstract' as *;

.hero {
    padding-top: calc(6.5rem + 2.5rem);
    padding-bottom: 2.5rem;
    display: grid;
    gap: 3rem;
    align-items: center;
    overflow-x: hidden;

    @include breakpoint-up(large) {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    &__image {
        position: relative;
        width: 100%;
        height: max-content;

        @include breakpoint-up(large) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        img {
            width: 100%;
            max-width: 24rem;

            @include breakpoint-up(large) {
                width: 125%;
                max-width: 40rem;
            }
        }

        .image__bg--hero {
            right: -13vw;
            border-radius: 25rem 0 0 25rem;

            @include breakpoint-up(medium) {
                right: -25vw;
            }

            @include breakpoint-up(large) {
                right: -14vw;
            }
        }
    }

    &__text {
        padding-bottom: 4.75rem;

        @include breakpoint-up(large) {
            padding-top: 4.5rem;
            max-width: 85%;
        }
    }

    &__button {
        .btn--primary-blue {
            margin-right: 1rem;
        }
    }
}

