@use '../abstract' as *;

.hero {
    padding-top: calc(6.5rem + 2.5rem);
    display: grid;
    gap: 3rem;
    overflow-x: hidden;

    @include breakpoint-up(large) {
        grid-template-columns: 1fr 1fr;
    }

    &__image {
        position: relative;

        @include breakpoint-up(large) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        img {
            width: 114%;
            position: relative;
            top: -.375rem;
            right: 1.375rem;

            @include breakpoint-up(large) {
                width: max(36rem, 125%);
                right: 1.325rem;
            }
        }

        .image__bg {
            width: max(100%, 19rem);
            height: max(75%, 12rem);
            position: absolute;
            bottom: 0;
            right: -13%;
            z-index: -1;
            background-color: $color-primary-blue;
            border-radius: 25rem 0 0 25rem;

            @include breakpoint-up(large) {
                right: -35%;
            }
        }
    }

    &__text {
        padding-bottom: 4.75rem;

        @include breakpoint-up(large) {
            padding-top: 4.5rem;
            max-width: 85%;
        }
    }

    &__button {
        .btn--primary-blue {
            margin-right: 1rem;
        }
    }
}

