@use '../abstract' as *;

.btn {
    padding: 1em;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;

    @include breakpoint-up(large) {
        padding: 1em 1.625em;
    }

    &--primary-blue {
        background-color: $color-primary-blue;
        color: $color-neutral-white;
    }

    &--primary-red {
        background-color: $color-primary-red;
        color: $color-neutral-white;
    }

    &--secondary {
        background-color: $color-neutral-white-gray;
        color: $color-neutral-dark-gray;
        box-shadow: 0 9px 6px -6px $color-neutral-gray-35; 
    }

    &--login {
        padding: 1em 2.5em;
        background-color: $color-primary-red;
        color: $color-neutral-white;
        border-radius: 6px;

        @include breakpoint-down(large) {
            display: block;
            padding-block: 1.25em;
            background-color: transparent;
            border: 2px solid $color-neutral-white;
            font-weight: $fw-medium;
        }
    }
}