@use '../abstract' as *;

.btn {
    padding: 1em 1.25em;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;

    &--primary-blue {
        background-color: $color-primary-blue;
        color: $color-neutral-white;
    }

    &--primary-red {
        background-color: $color-primary-red;
        color: $color-neutral-white;
    }

    &--secondary {
        background-color: $color-neutral-gray;
    }

    &--login {
        padding: 1em 2.5em;
        background-color: $color-primary-red;
        color: $color-neutral-white;
        border-radius: 6px;

        @include breakpoint-down(medium) {
            display: block;
            padding-block: 1.25em;
            background-color: transparent;
            border: 2px solid $color-neutral-white;
            font-weight: $fw-medium;
        }
    }
}