@use '../abstract' as *;

.container {
    padding: 2.5rem clamp(2rem, 9%, 10.25rem);
    text-align: center;

    @include breakpoint-up(large) {
        padding-top: 4.125rem;
        padding-bottom: 5.625rem;
    }
}

.container-intro {
    width: min(100%, 34rem);
    margin-inline: auto;
    padding-bottom: 1.25rem;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show, .active {
    opacity: 1 !important;
    pointer-events: auto !important;
}

/* Change header background color */
.changeBgColor {
    background-color: $color-neutral-dark-blue-95 !important;
}

/* Blue background behind image */
.image__bg {
    width: 100%;
    height: clamp(12.5rem, 50vw, 21rem);
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-color: $color-primary-blue;
}