@use '../abstract' as *;

body {
    font-family: $font-family;
    font-size: $fs-15;
    font-weight: $fw-regular;
    color: $color-neutral-gray;

    @include breakpoint-up(large) {
        font-size: $fs-18;
    }
}

h1, h2, h3, h4 {
    font-weight: $fw-medium;
    color: $color-neutral-dark-blue;
    margin-bottom: 1rem;

    @include breakpoint-up(large) {
        margin-bottom: 2.25rem;
    }
}

h1 {
    font-size: $fs-30;
    line-height: 2.5rem;

    @include breakpoint-up(large) {
        font-size: $fs-48;
        line-height: normal;
    }
}

h3 {
    font-size: $fs-24;

    @include breakpoint-up(large) {
        font-size: $fs-32;
    }
}

h4 {
    font-size: $fs-20;
}

p {
    margin-bottom: 2.25rem;
    line-height: 1.625rem;
    
    @include breakpoint-up(large) {
        line-height: 2rem;
    }
}

.nav__link {
    font-size: $fs-20;
    color: $color-neutral-white;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    @include breakpoint-up(large) {
        font-size: $fs-13;
        color: $color-neutral-dark-blue;

        &:hover {
            color: $color-primary-red;
            cursor: pointer;
        }
    }

    &--footer {
        font-size: $fs-15;
        color: $color-neutral-white;

        @include breakpoint-up(large) {
            font-size: $fs-13;
        }
    }
}

.btn {
    font-size: $fs-14;
    font-weight: $fw-medium;
}

.contact__caption {
    font-size: $fs-12;
    text-transform: uppercase;
    letter-spacing: .275rem;  
    margin-bottom: 1.125rem;
    
    @include breakpoint-up(large) {
        font-size: $fs-13;
    }
}

.alert-text {
    font-size: $fs-10;
    font-style: italic;
}