@use '../abstract' as *;

.card {
    max-width: 17.5rem;
    max-height: 23.25rem;
    padding: 3rem 1.5rem 1.5rem;
    margin-inline: auto;
    margin-bottom: 2.5rem;
    position: relative;
    box-shadow: 0 .375rem 1rem 0 $color-neutral-gray-25;
    border-radius: 1rem;
    overflow: hidden;

    &__image {
        width: 6.5rem;
        margin-bottom: 2rem;
        aspect-ratio: 1;
    }

    &__title {
        margin-bottom: .5rem;
    }

    &__description {
        margin-bottom: 3.25rem;
    }

    &__dot {
        position: absolute;
        left: 0;
        bottom: 6rem;
    }
}