/* Import Google Font Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* Colors */
$color-primary-blue: hsl(231 69% 60%);
$color-primary-red: hsl(0 94% 66%);
$color-neutral-dark-blue: hsl(229 31% 21%);
$color-neutral-dark-blue-95: hsl(229 31% 21% / .95);
$color-neutral-dark-gray: hsl(231 6% 49%);
$color-neutral-gray: hsl(229 8% 60%);
$color-neutral-gray-35: hsla(229, 10%, 65%, 0.35);
$color-neutral-white: hsl(0 0% 100%);
$color-neutral-white-gray: hsl(0 0% 97%);
$color-neutral-white-20: hsl(0 0% 100% / .2);

/* Font Family, Font Sizes, Font Weight*/
$font-family: 'Rubik', sans-serif;

$fs-48: 3rem; //48px
$fs-32: 2rem; //32px
$fs-30: 1.875rem; //30px
$fs-24: 1.5rem; //24px
$fs-20: 1.25rem; //20px
$fs-18: 1.125rem; //18px
$fs-16: 1rem; //16px
$fs-15: .9375rem; //15px
$fs-14: .875rem; //14px
$fs-13: .8125rem; //13px
$fs-12: .75rem; //12px
$fs-10: .625rem; //10px


$fw-medium: 500;
$fw-regular: 400;